<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <img class="navbar-brand" src="../../../assets/Logo/Logo HM.png" alt="">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/products">All products</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categories
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="products/1">Chair</a></li>
              <li><a class="dropdown-item" routerLink="products/2">Sofa</a></li>
              <li><a class="dropdown-item" href="#">Lightining</a></li>
              <li><a class="dropdown-item" href="#">Storage</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">All products</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 pe-2">
        <a class="myCart" routerLink="cart">
        <i class="fa-solid fa-cart-shopping fa-2x position-relative">         
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger fs-6">
            {{numberOfCartItems}}
          </span>
        </i>
      </a>
      </ul>
    </div>
  </nav>
