<div
  data-bs-interval="2500"
  id="carouselExampleIndicators"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="../../../assets/Carousel images/pic1.jpg"
        class="d-block w-100"
        alt="Not founed"
      />
    </div>
    <div class="carousel-item">
      <img
        src="../../../assets/Carousel images/pic2.jpg"
        class="d-block w-100"
        alt="Not founed"
      />
    </div>
    <div class="carousel-item">
      <img
        src="../../../assets/Carousel images/pic3.jpg"
        class="d-block w-100"
        alt="Not founed"
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container mt-5 mb-5 p-5 text-center">
  <h1 class="mt-5 mb-5 border-bottom w-25 m-auto pb-3">Categories</h1>
  <div class="row">
    <div class="col-12 col-md-3" *ngFor="let cat of listOfCategories">
      <a routerLink="/products/{{ cat.id }}"
        ><img class="cat-img" src="{{ cat.catImgUrl }}" alt="Not founed"
      /></a>
    </div>
  </div>
  <h2 class="mt-5 mb-5 w-25 m-auto pb-3">
    <a routerLink="/products" class="nav-link text-warning">See All</a>
  </h2>
</div>

<div class="container-fluid g-0">
  <div class="row g-0">
    <div class="col-12 col-md-6">
      <img
        class="delivery"
        src="../../../assets/delivery section/fast delivery.jpg"
        alt="Not founed"
      />
    </div>
    <div class="col-12 col-md-6 rightPart">
      <div class="myContainer">
        <div class="mb-5 pt-4">        
          <h1>
            Fast Delivery <span><i class="fa-solid fa-truck text-danger"></i></span>
          </h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat
            perspiciatis nemo earum quisquam repellendus ipsa enim illo non magni
            facilis similique rerum aliquam tenetur ratione commodi vitae,
            suscipit amet eveniet!
          </p>
        </div> 
        <div class="mt-5 pt-5">          
          <h1>uniqueness <span><i class="fa-solid fa-clipboard text-danger"></i></span></h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus
            itaque delectus saepe labore, tempore nulla, perferendis temporibus
            quis maxime, at debitis quos beatae! Reiciendis soluta, quibusdam
            perferendis architecto nam repellendus!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
