.carousel-item > img{
    height: 100vh;
}

.cat-img{
   transition: all .8s;
}
.cat-img:hover{
    transform: scale(1.2);
}

.delivery{
    width: 100%;
    height: 500px;
}

.myContainer{
    padding: 50px;
}
.rightPart{
    height: 500px;
}