
.card-body >h2{
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.card-img-top{
    height: 250px;
}

.pop-up{
    border: 1px solid red;
}

.modal{
    border: 1px solid red;
}
.modal-dialog{
    border: 1px solid blue;
    width: 100%;
}

.modal-content{
    border: 1px solid red;
}