<br>
<br>
<br>
<br>
<br>
<div *ngIf="numberOfProductsInCart == 0" class="replacable-div">
    <h1 class="text-danger">Your cart still empty!</h1>
</div>


<div class="card mb-5" *ngIf="numberOfProductsInCart != 0">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col">
                        <h4><b>Shopping Cart</b></h4>
                    </div>
                    <div class="col align-self-center text-right text-muted">{{numberOfProductsInCart}} items</div>
                </div>
            </div>
            <div class="row border-top border-bottom" *ngFor="let pro of cartProducts">
                <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" src={{pro.imgUrl}}></div>
                    <div class="col">
                        <div class="row text-muted">{{pro.name}}</div>                
                    </div>
                    <div class="col"> <a>-</a><a class="border">1</a><a>+</a> </div>
                    <div class="col">{{pro.price}} LE <span class="close">&#10005;</span></div>
                </div>
            </div>          
        </div>
        <div class="col-md-4 summary">
            <div>
                <h5><b>Summary</b></h5>
            </div>
            <hr>
            <div class="row">
                <div class="col" style="padding-left:0;">ITEMS {{numberOfProductsInCart}}</div>
                <div class="col text-right">{{totalPrice}} LE</div>
            </div>
            <form>
                <p>SHIPPING</p> <select>
                    <option class="text-muted">Standard-Delivery- 70.00 LE</option>
                </select>
                <p>GIVE CODE</p> <input id="code" placeholder="Enter your code">
            </form>
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">TOTAL PRICE</div>
                <div class="col text-right">{{totalPrice}} LE</div>
            </div> <button class="btn">CHECKOUT</button>
        </div>
    </div>
</div>
